sample-tosca/MySQLProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cloudface.org/schema/namespace/tosca/cream"
	xmlns="http://www.cloudface.org/schema/namespace/tosca/cream" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">


	<xs:element name="MySQLProperties">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tMySQLProperties" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="tMySQLProperties">
		<xs:sequence>
			<xs:element name="RootPassword" type="xs:string"
				maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


</xs:schema>